[submodule "blackmindz-flowcash/ScrollCare/contracts/lib/forge-std"]
	path = blackmindz-flowcash/ScrollCare/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "blackmindz-flowcash/ScrollCare/contracts/lib/openzeppelin-contracts"]
	path = blackmindz-flowcash/ScrollCare/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
